*.jl.*.cov
*.jl.cov
*.jl.*.mem
*.jl.mem
/lcov.info
Manifest.toml
LocalPreferences.toml
/docs/build/
/coverage/
/.JuliaFormatter.toml
/examples/dump/
/test/examples/
/docs/src/examples
/gh-pages/
/.vscode/
